body
{
	background-image: url("RACER.jpg");
	position: absolute;
	top: 8%;
	width: 25%;
}

header
{
	background: #0000FF;
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	
}

.header ul
{
	list-style: none;
	float: right;
	margin-top: 30px;
	margin-right: 100px;
}

.header ul li{
	display: inline-block;
	float: right;
}

.header ul li a 
{
	text-decoration: none;
	color: #fff;
	font-weight: italic;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.4s ease;
    border-radius: 100px;
}

.header ul li a:hover
{
	background-color: #39FF14;
	color: #050505;

}

form
 {
  color: cyan; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: medium;
}



.header nav 
{
	float: left;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
}
.header ul li .active{
	background-color: #ffff00;
	color: #000;

}

.main button 
{
  border-radius: 10px;
  margin: 20px 70px;
  padding: 10px 50px;
  text-transform: capitalize;
  background-color: #39FF14;
}

.main select
{
	width: 280px;
    height: 40px;
	padding: 6px;
	border-radius: 5px;
}


.main .title
{
	text-align: center;
}

.main ul li 
{
  list-style-type: none;
  padding:3px;
  margin-left: -40px;
}


.main ul input 
{
  width: 300px;
  height: 20px;
  border-radius: 5px;
}

.main textarea 
{
  width: 300px;
  height: 60px;
  border-radius: 5px;
  resize: none;
}

